{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if request.user.is_authenticated %}
Welcome back {{ request.user.username }}
{% else%}
Welcome To Itranet
{% endif %}
{% endblock title %}

{% block content %}

<!-- <style type="text/css">
.img-responsive  {
  visibility: hidden;
  height: 0px;
}

@media screen and (min-width: 995px) {
  .img-responsive {
    visibility: visible;
    height: inherit;
  }
}
</style> -->
<style type="text/css">
  {% include 'main/home.css' %}
</style>


<div class="container-fluid">

  {% if request.user.is_authenticated %}
    <div class="container">
      <div class="px-4 pt-5 my-3 text-center border-bottom shadow-lg">
        <h1 class="display-4 fw-bold">Welcome back {{ request.user.username }}</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">You have <a href="{% url 'notifications:home' %}">{{ noti_count }} new notification{{ noti_count|pluralize }} </a> and <a href="{% url 'chat:chats' %}">{{ msgs_count }} new message{{ msgs_count|pluralize }}</a></p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-dark btn-sm px-4" href="{% url 'lobby' %}">lobby</a>
            <a class="btn btn-danger btn-sm px-4" href="{% url 'chat:chats' %}">chats</a>
          </div>
        </div>
      </div>
    </div>
  {% elif not request.user.is_authenticated %}
    <header class="bg-light pb-5 pt-3">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-12 col-xl-12 col-xxl-12 rounded ">
                  <div class="mb-5 mt-3 text-center text-xl-start">
                      <h1 class="display-5 fw-bolder text-dark mb-2">A Bootstrap 5 template for modern businesses</h1>
                      <p class="lead fw-normal text-dark-50 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                          <a class="btn btn-primary text-light btn-lg px-4 me-sm-3" href="{% url 'register' %}">Sign up</a>
                          <a class="btn btn-outline-dark text-dark btn-lg px-4" href="{% url 'login' %}">Sign in</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </header>

    <section class="py-5 bg-dark rounded" id="features">
        <div class="container px-5 my-3">
            <div class="row gx-5">
                <div class="col-lg-12">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5 text-light">Featured title</h2>
                            <p class="mb-0 text-light">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5 text-light">Featured title</h2>
                            <p class="mb-0 text-light">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5 text-light">Featured title</h2>
                            <p class="mb-0 text-light">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5 text-light">Featured title</h2>
                            <p class="mb-0 text-light">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="py-3 bg-light">
        <div class="container px-5 my-2">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <img class="rounded-circle me-3 img-fluid my-2" src="{% static 'assets/images/profiles/profile-2.png' %}" alt="...">
                        <div class="fs-4 mb-4 fst-italic">"Working with Start Bootstrap templates has saved me tons of development time when building new projects! Starting with a Bootstrap template just makes things easier!"</div>
                        <div class="d-flex align-items-center justify-content-center">
                            
                            <div class="fw-bold">
                                Nape Ntsoane
                                <span class="fw-bold text-primary mx-1">/</span>
                                CEO, Itranet
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3">
      <h1 class="display-2 fw-bold source-code mb-5 pb-5 text-center">Find out <a href="{% url 'about' %}" class="text-secondary text-decoration-underline">more</a></h1>
    </div>

  {% endif %}


</div>

{% endblock content %}








