<footer class="app-footer">
    <div class="bg-dark py-2 mt-auto container px-3">
        <div class="d-flex flex-row flex-nowrap">
            <div class="flex-shrink-1 text-start">
            	<div class="small m-0 text-white">Copyright © Itranet 2022 | <small class="copyright text-light">Designed by <a class="app-link text-light" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small></div>
                
            </div>
            
            <div class="flex-fill text-center">
                <a class="h6 tillium text-light text-decoration-underline" href="#!">Github</a>
                <span class="text-white mx-1">·</span>
                <a class="h6 tillium text-light text-decoration-underline" href="#!">Instagram</a>
                <span class="text-white mx-1">·</span>
                <a class="h6 tillium text-light text-decoration-underline" href="#!">Facebook</a>        	
            </div>

            <div class="flex-fill text-end">
                <a class="link-light small" href="{%  url 'legal_docs' %}">Privacy</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="{% url 'legal_docs' %}">Terms</a>
                <span class="text-white mx-1">·</span>
                <a class="link-light small" href="">Contact</a>
            </div>
        </div>
    </div>

</footer>
