{% extends 'account/base.html' %}

{% block title %}
Account deleteion 
{% endblock title %}

{% block content %}

<div class="p-5 mb-4 bg-success rounded-3">
    <div class="container-fluid py-5 text-center">
    <form method="POST">{% csrf_token %}
        <h1 class="display-5 fw-bold text-light">Enter your username and click confirm.</h1>
		<div class="form-floating">
			<input placeholder="Email"  class="form-control" type="email" name="email" maxlength="30" required="" id="id_email">
			<label for="floatingInput">Email</label>
		</div>
		<button type="submit" class="btn btn-danger btn-md">Confirm</button>

		{% for field in form %}
		<p>
		{% for error in field.errors %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		</p>
		{% endfor %}
		{% if form.non_field_errors %}
		<div style="color: red">
		<p>{{form.non_field_errors}}</p>
		</div>
		{% endif %}
    </form>
    </div>
</div>
{% endblock content %}