{% extends 'account/base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
<script type="text/javascript">
	location = "{% url 'home' %}"
</script>
{% endif %}
<div class="row shadow mt-3 mb-3">
<div class="offset-md-3 col-md-6">
<style type="text/css">
	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
	@media (min-width: 768px) {
	.bd-placeholder-img-lg {
	font-size: 3.5rem;
		}
	}
	.image-container{
		max-width: 75px;
		height: auto;
	}
</style>

<div class="container-fluid shadow-lg border rounded">
<form method="POST">{% csrf_token %}
	<h1 class="h1 page-title fw-normal text-center tillium bold pt-4">Fill in your email</h1>
	<div class="image-container mx-auto mt-2 mb-2">
		<img class="d-block  img-fluid mx-auto profile-image" alt="Info Tech Hub logo" src="{% static 'logos/light.svg' %}" id="id_profile_image">
	</div>
	<div class="form-floating">
		<input placeholder="Email"  class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
		<label for="floatingInput">Email address</label>
	</div>

	{% for field in form %}
	<p>
	{% for error in field.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}
	</p>
	{% endfor %}
	{% if form.non_field_errors %}
	<div style="color: red">
	<p>{{form.non_field_errors}}</p>
	</div>
	{% endif %}
	
	<p class="text-ctech enter"><button class="w-100 btn btn-primary mb-4 mt-3 btn-md" type="submit">Request password reset</button></p>

</form>
</div>

</div>
</div>
{% endblock %}