<footer class="app-footer">
    <div class="bg-dark py-2 mt-auto container px-3">
        <div class="row py-1">
            <div class="text-start col-xs-12 col-sm-12 col-xl-6 col-lg-6 col-xxl-6">
            	<div class="small m-0 text-white pt-xl-2">
                    © Itranet 2022 | <small class="copyright text-light">Designed by <a class="app-link text-light" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
                </div>
            </div>

            <div class="col col-sm-6 col-xs-6 col-xl-6 col-lg-6 col-xxl-6 py-2">
                <div class="d-flex flex-row">
                <div class="flex-grow-1">
                    <a class="text-light" href="#!"><i class="fab fa-github fa-lg"></i></a>
                    <span class="text-white mx-1">·</span>
                    <a class="text-light" href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                    <span class="text-white mx-1">·</span>
                    <a class="h6 tillium text-light" href="#!"><i class="fab fa-facebook fa-lg"></i></a>   
                </div>
                
               <div class="flex-shrink-1">
                    <a class="text-light" href="{% url 'contact' %}"><i class="fa fa-comment-dots fa-lg"></i></a>
                </div></div>

            </div>
            <div class="col-sm-6 col-xs-6 col-xl-6 col-lg-6 col-xxl-6">


            </div>        



        </div>
    </div>

</footer>
